{% extends "base.html" %}
{%block main%}
        <main class="flex-grow-1">
{% if data %}            
            <div class="container-lg mt-3">
                <h1>Сайт:{{url}}</h1>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover text-nowrap" data-test="url">
                        <tbody>
                            <tr>
                                <td>ID</td>
                                <td>{{data.id}}</td>
                            </tr>
                            <tr>
                                <td>Имя</td>
                                <td>{{data.name}}</td>
                            </tr>
                            <tr>
                                <td>Дата создания</td>
                                <td>{{data.created_at.date()}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
{% endif %}
                <h2 class="mt-5 mb-3">Проверки</h2>
                <form method="post" action="/urls/{{data.id}}/checks">
                    <input type="submit" class="btn btn-primary" value="Запустить проверку">
                </form>

                <div>
                    <table class="table table-bordered table-hover mt-2" data-test="checks">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Код ответа</th>
                                <th>h1</th>
                                <th>title</th>
                                <th>description</th>
                                <th>Дата создания</th>
                            </tr>
                        </thead>
{% if tests %}
                        <tbody>
{% for test in tests %}
                            <tr>
                                <td>{{test.id}}</td>
                                <td>{{test.status_code}}</td>
                                <td>{{test.h1}}</td>
                                <td>{{test.title}}</td>
                                <td>{{test.description}}</td>
                                <td>{{test.created_at.date()}}</td>
                            </tr>
{% endfor %}
                        </tbody>
{% endif %}
                    </table>
                </div>

            </div>
        </main>
{% endblock %}